In [5]:
import pandas as pd
import sqlite3

conexion=sqlite3.connect("sakila.db")
df=pd.read_sql("SELECT film_id,title,description from film",conexion)
df.head(8)

,film_id,title,description
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...
5,6,AGENT TRUMAN,A Intrepid Panorama of a Robot And a Boy who m...
6,7,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who m...
7,8,AIRPORT POLLOCK,A Epic Tale of a Moose And a Girl who must Con...